1. Defining values and expression

A:'hello', -87.8, 6 are the values, and *, -, /, + are the expressions

2.Difference between string and variable

A: string is a datatype, whereas the variable is the holder of the datatypes or it is representation of a particular object.

3.Three Different datatypes

A: string:it is collection of characters within the quotations;
list:it is the collection of values within the single variable or within the square brackets;
dictionary: it is the collection of key and value pair within the curly braces...

4.Expression

A: An expression is made up of symbols like *, -, + and operands.
    They can perform certain operations based upon the condition.

5. Difference between statement and expression

A: A statement creates variable and behaves based upon the condition of the statement,
    whereas the expression is the combination of operators and operands used to give a new value or evaluate them based on condition.

6.bacon =22, then what is the value for bacon+1

In [7]:
bacon = 22
bacon = bacon+1
bacon

23

7. The values of 'spam'+ 'spamspam' and 'spam'* 3 are:

In [9]:
a = 'spam'+'spamspam'
b = 'spam'*3
a,b

('spamspamspam', 'spamspamspam')

8.Why is eggs a valid variable name while 100 is invalid?

A: Because we can't keep datatype as a variable,here in this question the 100 is a int datatype,
    so thats the reason, but we can give eggs like a variable because it is not a datatype

9 . What three functions can be used to get the integer, floating-point number, or string
version of a value?

A: int(), float(), str()

10 . Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

A : Because we cannot concatenate the two different datatypes,
    if we want to do that we should change it in the same datatype by typecasting