1 . Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.

In [2]:
test1 = 'This is a test of the emergency text system'
f = open('test.txt','w')
f.write(test1)
f.close()

2 . Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?

In [4]:
file = open('test.txt','r')
test2 = file.read()
test2

'This is a test of the emergency text system'

In [6]:
test1 == test2

True

3 . Create a CSV file called books.csv by using these lines:
title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992

In [13]:
import csv
rows = [['title','author','year'],
        ['The Weirdstone of Brisingamen','Alan Garner',1960],
       ['Perdido Street Station','China Miéville',2000],
       ['Thud!','Terry Pratchett',2005],
       ['The Spellman Files','Lisa Lutz',2007],
       ['Small Gods','Terry Pratchett',1992]]
with open('books.csv','w') as file:
    csv_write = csv.writer(file)
    csv_write.writerows(rows)

4 . Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).

In [16]:
import sqlite3
conn = sqlite3.connect('books.db')
cursor = conn.cursor()
cursor.execute('create table books(title varchar(50),author varchar(50),year int(10))')
conn.commit()

5 . Read books.csv and insert its data into the book table.

In [34]:
import pandas as pd

read_books = pd.read_csv('books.csv',encoding='unicode_escape')
read_books.to_sql('books', conn, if_exists='append', index = False)

6 . Select and print the title column from the book table in alphabetical order.

In [36]:
cursor.execute('select title from books order by title asc')
print(cursor.fetchall())

[('Perdido Street Station',), ('Small Gods',), ('The Spellman Files',), ('The Weirdstone of Brisingamen',), ('Thud!',)]

7.From the book table, select and print all columns in the order of publication.

In [40]:
cursor.execute('select title, author,year from books order by year')
df = pd.DataFrame(cursor.fetchall(), columns=['title','author','year'])
df

                           title           author  year
0  The Weirdstone of Brisingamen      Alan Garner  1960
1                     Small Gods  Terry Pratchett  1992
2         Perdido Street Station   China Miéville  2000
3                          Thud!  Terry Pratchett  2005
4             The Spellman Files        Lisa Lutz  2007

8 . Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 6.

In [41]:
import sqlalchemy
engine = sqlalchemy.create_engine("sqlite:///books.db")
rows = engine.execute('select * from books')
for i in rows:
    print(i)

('The Weirdstone of Brisingamen', 'Alan Garner', 1960)
('Perdido Street Station', 'China Miéville', 2000)
('Thud!', 'Terry Pratchett', 2005)
('The Spellman Files', 'Lisa Lutz', 2007)
('Small Gods', 'Terry Pratchett', 1992)

9 . Install the Redis server and the Python redis library (pip install redis) on your computer. Create a Redis hash called test with the fields count (1) and name ('Fester Bestertester'). Print all the fields for test.

In [42]:
pip install redis

Collecting redis
  Downloading redis-4.3.4-py3-none-any.whl (246 kB)
Collecting async-timeout>=4.0.2
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting deprecated>=1.2.3
  Downloading Deprecated-1.2.13-py2.py3-none-any.whl (9.6 kB)
Requirement already satisfied: packaging>=20.4 in c:\users\munna\anaconda3\lib\site-packages (from redis) (21.0)
Requirement already satisfied: wrapt<2,>=1.10 in c:\users\munna\anaconda3\lib\site-packages (from deprecated>=1.2.3->redis) (1.12.1)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\munna\anaconda3\lib\site-packages (from packaging>=20.4->redis) (3.0.4)
Installing collected packages: deprecated, async-timeout, redis
Successfully installed async-timeout-4.0.2 deprecated-1.2.13 redis-4.3.4
Note: you may need to restart the kernel to use updated packages.